@use './var';

.instructions{

    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 1px solid var.$dark-brown;

    text-align: center;
    color: var.$medium-brown;
    font-weight: 400;

    h2{
        margin-bottom: 20px;
        font-size: 24px;
        color: var.$dark-brown;
        font-weight: 600;
    }
}

@media(min-width: 992px){
    .instructions{
        margin-left: 45px;
        margin-right: 45px;
    }
}
