@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300;400;700&family=Prosto+One&display=swap');

$main-font: 'Mitr', sans-serif;
$clear-bg: #f3e9dc;
$light-brown: #c08552;
$dark-brown: #5e3023;
$medium-brown: #895737;
$clear: #dab49d;