@use './var';

.result-area{
    margin-top: 20px;
    text-align: center;
    padding-bottom: 20px;

    color: var.$medium-brown;

    h3{
        margin-bottom: 10px;
    }

    &__counter{
        margin-bottom: 20px;
        display: block;
    }

    &__list{
        margin: 0 15px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
    }

    &__item{
        color: var.$dark-brown;
        border: solid 1px var.$dark-brown;
        padding: 8px;
        border-radius: 5px;
    }

}

@media(min-width: 649px){
    .result-area h3{
        margin-bottom: 30px;
    }
}

@media(min-width: 992px){
    .result-area__list{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
}
